.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
test/
spike.md
coverage/
.nyc_output/
node_modules/
server/src/
tech.md
src/
server/src
server/*.json
server/out/*.map
server/.nyc_output
**/.gitignore
server/coverage
server/node_modules
out/*.map
resources/
.metals/
